html{ height: 100%; }
body{ height: 100%; display: flex; flex-direction: column; align-content: center; }
section{ margin: auto; }

#logo-wrapper{ margin: auto; text-align: center; }
#logo{ width: auto; height: 50px; image-rendering: -webkit-optimize-contrast; }

#header{
    text-align: center;
    margin: 2rem 0;
}

#calculator-form{ background-color: #EEE; padding: 20px 40px 40px 40px; margin: auto; }
#calculator-form h4{ text-align: center; }
#calculator-form .line{ margin-bottom: 2px; }
#calculator-form .button-line{ margin-top: 15px; text-align: center; }
#calculator-form .result-line{ height: 30px; border-bottom: 1px solid rgba(0,0,0,0.1); margin-top: 2rem; }
#result{ }
#process-icon{ float: right; }